<div class="alert alert-<%= type == 'success' ? 'success' : 'danger' %> alert-dismissible fade show"
     role="alert"
     data-controller="flash">
  <%= message %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" data-action="click->flash#dismiss"></button>
</div>