<h1>Editar Cliente</h1>

<%= render 'form', customer: @customer %>

<div class="mt-3">
  <%= link_to 'Ver', @customer, class: 'btn btn-outline-primary' %>
  <%= link_to 'Voltar', customers_path, class: 'btn btn-secondary' %>
</div>