<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>Clientes</h1>
  <%= link_to 'Novo Cliente', new_customer_path, class: 'btn btn-primary' %>
</div>

<div id="new_customer_form"></div>

<div id="customers_table_container">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Dia de Cobrança</th>
          <th>Método de Pagamento</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody id="customers_tbody">
        <% @customers.each do |customer| %>
          <%= render 'customer_row', customer: customer %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-center mt-4" data-controller="pagination">
    <%= paginate @customers, remote: true %>
  </div>
</div>

<% if @customers.count == 0 %>
  <div class="alert alert-info">
    <p>Nenhum cliente cadastrado. <%= link_to 'Criar o primeiro cliente', new_customer_path %>.</p>
  </div>
<% end %>