<div class="card mb-4">
  <div class="card-header">
    <h4 class="mb-0"><%= t('customers.new.title') %></h4>
  </div>
  <div class="card-body">
    <%= render 'form', customer: @customer %>
  </div>
</div>